@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alata&family=IBM+Plex+Mono:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&display=swap");
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideInFromRightBack {
  0% {
    transform: translateX(150%) scale(2);
  }
  100% {
    transform: translateX(0%) scale(2);
  }
}
@keyframes slideInFromLeftBack {
  0% {
    transform: translateX(0%) scale(2);
  }
  100% {
    transform: translateX(-150%) scale(2);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes ApparitionDescriptif {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0px);
  }
}
body .SectionApropos .Container_Apropos .Apropos, body .SectionGalerie .Container_Galerie .Galerie, header .Reseaux, .Skills-list, .Carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

body .SectionContact .Container_Contact .Contact .Block_Img .Infos_Contact ul, body .SectionContact .Container_Contact .Contact .Block_Texte, body .SectionGalerie .Container_Galerie .Details, body .Bannière .background_menu .Projet_Contenu, .Carrousel li div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body .SectionContact .Container_Contact .Formulaire form, body .SectionContact .Container_Contact .Formulaire, header ul, header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProjectDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Carrousel {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  list-style: none;
  gap: 0.4em;
}
@media screen and (max-width: 769px) {
  .Carrousel {
    width: 95%;
    padding: 0;
  }
}
.Carrousel li {
  position: relative;
  z-index: 10;
  height: 80%;
  width: 23%;
  transition: transform 0.4s ease;
}
.Carrousel li:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.Carrousel li:hover button {
  opacity: 1;
}
.Carrousel li .Photo {
  z-index: 10;
  object-fit: cover;
  height: 100%;
  width: 100%;
  box-shadow: 0px 4px 6px -1px rgba(6, 24, 44, 0.65);
  border-radius: 5px;
}
.Carrousel li div {
  width: max-content;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Carrousel li div p {
  color: white;
  font-size: 24px;
  margin: 0.5em;
}
@media screen and (max-width: 1024px) {
  .Carrousel li div p {
    font-size: 16px;
  }
}
@media screen and (max-width: 769px) {
  .Carrousel li div p {
    font-size: 12px;
  }
}
.Carrousel li div a {
  display: block;
  padding: 10px;
  border: solid 2px white;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 5px;
}
.Carrousel li div a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(3, 3, 3);
}
@media screen and (max-width: 1024px) {
  .Carrousel li div a {
    padding: 5px;
    font-size: 10px;
  }
}
.Carrousel .grayscale {
  filter: brightness(65%);
}
.Carrousel .active {
  transform: scale(1.1);
  z-index: 15;
}

.Skills-list {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  gap: 1.5em;
  padding-top: 2em;
}
@media screen and (max-width: 769px) {
  .Skills-list {
    padding-top: 1em;
  }
}
.Skills-list .skills {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 6px -1px rgba(6, 24, 44, 0.65);
}
.Skills-list .HTML {
  width: 15%;
  background-color: #E44D26;
}
.Skills-list .CSS {
  width: 15%;
  background-color: #2196F3;
}
.Skills-list .JS {
  width: 15%;
  background-color: #F7E018;
}
.Skills-list .SCSS {
  width: 15%;
  background-color: #bf3591;
}
.Skills-list .REACTJS {
  width: 15%;
  background-color: #61DAFB;
}

.ProjectDescription {
  width: 80%;
  text-align: center;
  right: 175px;
}
.ProjectDescription h2 {
  font-size: 52px;
  text-shadow: 1px 1px 2px #555;
  margin-top: 0.5em;
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .ProjectDescription h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 769px) {
  .ProjectDescription h2 {
    margin-top: 0;
  }
}
@media screen and (max-width: 769px) {
  .ProjectDescription h3 {
    margin: 0.1em;
  }
}
.ProjectDescription p {
  font-size: 18px;
  text-align: justify;
}
@media screen and (max-width: 1024px) {
  .ProjectDescription p {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 769px) {
  .ProjectDescription p {
    font-size: 12px;
    margin-bottom: 0;
  }
}

.Screen-Desktop {
  position: absolute;
  top: 116px;
  left: 25%;
  text-align: center;
  transition: opacity 0.3s ease;
  z-index: 20;
  width: 34vw;
  height: 59vh;
}
.Screen-Desktop:hover img {
  transform: perspective(55px) rotateX(0deg) rotateY(1.3deg) rotateZ(0deg);
  filter: brightness(50%);
}
.Screen-Desktop:hover .container_liens {
  opacity: 1;
}
.Screen-Desktop img {
  object-position: top;
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
  box-shadow: 0px 4px 6px -1px rgba(6, 24, 44, 0.65);
  transform: perspective(45px) rotateX(0deg) rotateY(0.7deg) rotateZ(0deg);
  filter: brightness(100%);
  transition: transform 1s ease, filter 0.3s ease;
}
.Screen-Desktop .container_liens {
  position: absolute;
  display: flex;
  top: 45%;
  left: 33%;
  margin-top: 10px;
  transform: perspective(55px) rotateX(0deg) rotateY(3deg) rotateZ(0deg);
  gap: 2em;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.Screen-Desktop .container_liens a {
  display: block;
  padding: 10px;
  border: solid 2px white;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 5px;
}
@media screen and (max-width: 769px) {
  .Screen-Desktop .container_liens a {
    padding: 5px;
    font-size: 8px;
  }
}
.Screen-Desktop .container_liens a:hover {
  background: white;
  color: black;
}
@media screen and (max-width: 1024px) {
  .Screen-Desktop .container_liens {
    left: 10%;
  }
}
@media screen and (max-width: 769px) {
  .Screen-Desktop .container_liens {
    left: 13%;
    top: 33%;
    gap: 1em;
  }
}
@media screen and (max-width: 1024px) {
  .Screen-Desktop {
    width: 30vw;
    left: 28%;
  }
}
@media screen and (max-width: 769px) {
  .Screen-Desktop {
    width: 43vw;
    height: 19%;
    left: 27%;
    top: 23.5%;
  }
}

header {
  position: absolute;
  top: 27px;
  left: 30px;
  z-index: 5;
  width: 8%;
  background: white;
  box-shadow: 10px 0px 16px -7px rgba(0, 0, 0, 0.2);
  height: 92.4%;
}
@media screen and (max-width: 769px) {
  header {
    justify-content: center;
    height: 3%;
    flex-direction: row;
    width: 90%;
    left: 20px;
    top: 0;
    background: none;
    box-shadow: none;
  }
}
@media screen and (max-width: 769px) {
  header img {
    width: 60%;
    filter: grayscale(200%);
  }
}
header ul {
  list-style-type: none;
  gap: 1em;
  margin: 0px;
  margin-top: 1.5em;
  padding: 0px;
}
@media screen and (max-width: 769px) {
  header ul {
    flex-direction: row;
    margin-top: 0;
  }
}
header ul li {
  font-size: 16px;
  font-family: "Alata";
  opacity: 1;
  transition: opacity 0.3s ease;
}
header ul li .elmenu {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 769px) {
  header ul li .elmenu {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
}
header ul li:hover {
  opacity: 0.3;
}
header ul li .active {
  border-bottom: 1px solid black;
}
@media screen and (max-width: 769px) {
  header ul li .active {
    border-bottom: 1px solid rgb(255, 255, 255);
  }
}
header .Reseaux {
  position: absolute;
  bottom: 15px;
  width: 60%;
}
@media screen and (max-width: 769px) {
  header .Reseaux {
    display: none;
    position: static;
    width: 10%;
    margin: 0;
  }
}
header .Reseaux a {
  text-align: center;
}
header .Reseaux a img {
  width: 55%;
}

body {
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Alata";
  position: relative;
  width: 100%;
  overflow: hidden;
}
body .Bannière {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 100vh;
}
body .Bannière .backgroundimg {
  filter: blur(5px);
  width: 100%;
  transform: scale(2);
  height: 100vh;
}
body .Bannière .backgroundimg_1 {
  filter: blur(5px);
  position: absolute;
  width: 100%;
  top: 0px;
  transform: scale(2);
  height: 100vh;
}
body .Bannière .background_menu {
  position: absolute;
  width: 90%;
  margin: auto;
  height: 92.4%;
  top: 27px;
  left: 8.3%;
  overflow: hidden;
  box-shadow: 0px 4px 6px -1px rgba(6, 24, 44, 0.65);
  background-color: rgba(255, 255, 255, 0.9);
}
@media screen and (max-width: 1024px) {
  body .Bannière .background_menu {
    left: 8.9%;
  }
}
@media screen and (max-width: 769px) {
  body .Bannière .background_menu {
    left: 6%;
  }
}
body .Bannière .background_menu .bannerimg {
  object-fit: cover;
  width: 60%;
  height: 100%;
  z-index: 3;
  filter: brightness(50%);
}
@media screen and (max-width: 769px) {
  body .Bannière .background_menu .bannerimg {
    width: 100%;
    height: 42%;
  }
}
body .Bannière .background_menu .CurrBanner {
  position: absolute;
  top: 0;
  left: 0;
}
body .Bannière .background_menu .Projet_Contenu {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40%;
  height: 90%;
}
@media screen and (max-width: 769px) {
  body .Bannière .background_menu .Projet_Contenu {
    top: 0px;
    right: 0px;
    width: auto;
    height: auto;
    position: static;
  }
}
body .Bannière .Photos {
  display: flex;
  position: absolute;
  top: 55%;
  z-index: 10;
}
@media screen and (max-width: 769px) {
  body .Bannière .Photos {
    top: 8%;
    left: 17%;
  }
}
body .Bannière .Photos .image-container {
  position: relative;
  height: 200px;
  width: 135px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  filter: brightness(100%);
}
body .Bannière .Photos .image-container:hover {
  z-index: 20;
  transform: translate(-10px, -10px);
  transition: transform 0.3s ease-in-out;
}
@media screen and (max-width: 769px) {
  body .Bannière .Photos .image-container:hover {
    transform: translate(0px, 0px);
  }
}
body .Bannière .Photos .image-container .zoom-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 40px;
  width: 40px;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 25;
  opacity: 0.7;
  transition: opacity 0.2s, transform 0.2s;
}
@media screen and (max-width: 769px) {
  body .Bannière .Photos .image-container .zoom-logo {
    height: 20px;
    width: 20px;
  }
}
body .Bannière .Photos .image-container .zoom-logo:hover {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.2);
}
body .Bannière .Photos .image-container .photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.2em;
}
body .Bannière .Photos .image-container .grayscale {
  filter: brightness(50%);
}
@media screen and (max-width: 1024px) {
  body .Bannière .Photos .image-container {
    height: 200px;
    width: 115px;
  }
}
@media screen and (max-width: 769px) {
  body .Bannière .Photos .image-container {
    height: 88px;
    width: 53px;
  }
}
body .Bannière .Photos .image-container-1 {
  left: 50px;
}
@media screen and (max-width: 1024px) {
  body .Bannière .Photos .image-container-1 {
    left: 40px;
  }
}
@media screen and (max-width: 769px) {
  body .Bannière .Photos .image-container-1 {
    left: -10px;
  }
}
body .Bannière .Photos .image-container-2 {
  left: -45px;
}
@media screen and (max-width: 1024px) {
  body .Bannière .Photos .image-container-2 {
    left: -40px;
  }
}
@media screen and (max-width: 769px) {
  body .Bannière .Photos .image-container-2 {
    left: -5px;
  }
}
body .Bannière .Photos .image-container-3 {
  left: -140px;
}
@media screen and (max-width: 1024px) {
  body .Bannière .Photos .image-container-3 {
    left: -120px;
  }
}
@media screen and (max-width: 769px) {
  body .Bannière .Photos .image-container-3 {
    left: 0px;
  }
}
body .Bannière .Photos .image-container-4 {
  left: -235px;
}
@media screen and (max-width: 1024px) {
  body .Bannière .Photos .image-container-4 {
    left: -200px;
  }
}
@media screen and (max-width: 769px) {
  body .Bannière .Photos .image-container-4 {
    height: 95px;
    width: 70px;
    left: 35px;
    top: -6px;
  }
}
body .Bannière .Photos .image-container-4 img {
  border: rgba(255, 255, 255, 0.9) solid 2px;
  border-radius: 0.2em;
}
body .SectionGalerie {
  position: relative;
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
}
body .SectionGalerie .backgroundimg {
  filter: blur(5px);
  height: 100vh;
  width: 100%;
  transform: scale(2);
}
body .SectionGalerie .backgroundimg.description-active {
  filter: blur(10px);
}
body .SectionGalerie .backgroundimg_1 {
  filter: blur(5px);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  transform: scale(2);
}
body .SectionGalerie .Container_Galerie {
  position: absolute;
  width: 90%;
  height: 92.4%;
  top: 27px;
  left: 8.3%;
  overflow: hidden;
  box-shadow: 0px 4px 6px -1px rgba(6, 24, 44, 0.65);
  background-color: rgba(255, 255, 255, 0.9);
}
@media screen and (max-width: 1024px) {
  body .SectionGalerie .Container_Galerie {
    left: 8.9%;
  }
}
@media screen and (max-width: 769px) {
  body .SectionGalerie .Container_Galerie {
    left: 6%;
  }
}
body .SectionGalerie .Container_Galerie .Galerie {
  height: 100%;
}
@media screen and (max-width: 769px) {
  body .SectionGalerie .Container_Galerie .Galerie {
    flex-direction: column;
  }
}
body .SectionGalerie .Container_Galerie .Galerie .Titre_Galerie {
  display: none;
}
body .SectionGalerie .Container_Galerie .Galerie h2 {
  color: black;
  font-size: 55px;
  text-shadow: 1px 1px 2px #555;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  body .SectionGalerie .Container_Galerie .Galerie h2 {
    font-size: 34px;
  }
}
@media screen and (max-width: 769px) {
  body .SectionGalerie .Container_Galerie .Galerie h2 {
    font-size: 48px;
  }
}
@media screen and (max-width: 1024px) {
  body .SectionGalerie .Container_Galerie .Galerie {
    padding-left: 2em;
  }
}
@media screen and (max-width: 769px) {
  body .SectionGalerie .Container_Galerie .Galerie {
    padding-left: 0em;
  }
}
body .SectionGalerie .Container_Galerie .Details {
  width: 60%;
  padding-bottom: 1em;
}
@media screen and (max-width: 769px) {
  body .SectionGalerie .Container_Galerie .Details {
    width: 100%;
  }
}
body .SectionGalerie .Container_Galerie .Details.Details-active {
  animation: ApparitionDescriptif 1.5s ease;
  animation-fill-mode: forwards;
}
body .SectionGalerie .Container_Galerie .Details img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.8s ease;
}
body .SectionGalerie .Container_Galerie .Details img:hover {
  cursor: pointer;
  transform: scale(1.08);
}
body .SectionApropos {
  position: relative;
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
}
body .SectionApropos .backgroundimg {
  filter: blur(5px);
  height: 100vh;
  width: 100%;
  transform: scale(2);
}
body .SectionApropos .Container_Apropos {
  position: absolute;
  width: 90%;
  height: 92.4%;
  top: 27px;
  left: 8.3%;
  overflow: hidden;
  box-shadow: 0px 4px 6px -1px rgba(6, 24, 44, 0.65);
  background-color: rgba(255, 255, 255, 0.9);
}
@media screen and (max-width: 1024px) {
  body .SectionApropos .Container_Apropos {
    left: 8.9%;
  }
}
@media screen and (max-width: 769px) {
  body .SectionApropos .Container_Apropos {
    left: 6%;
  }
}
body .SectionApropos .Container_Apropos .Apropos {
  margin: auto;
  gap: 4em;
  height: 100%;
  padding-left: 2em;
}
@media screen and (max-width: 1024px) {
  body .SectionApropos .Container_Apropos .Apropos {
    gap: 2em;
    padding-left: 2em;
  }
}
@media screen and (max-width: 769px) {
  body .SectionApropos .Container_Apropos .Apropos {
    flex-direction: column;
    padding-left: 0em;
  }
}
body .SectionApropos .Container_Apropos .Apropos .Block_Texte {
  width: 40%;
  text-align: justify;
}
@media screen and (max-width: 1024px) {
  body .SectionApropos .Container_Apropos .Apropos .Block_Texte {
    width: 45%;
  }
}
@media screen and (max-width: 769px) {
  body .SectionApropos .Container_Apropos .Apropos .Block_Texte {
    width: 80%;
  }
}
body .SectionApropos .Container_Apropos .Apropos .Block_Texte p {
  font-size: 18px;
  color: black;
}
@media screen and (max-width: 769px) {
  body .SectionApropos .Container_Apropos .Apropos .Block_Texte p {
    font-size: 10px;
  }
}
body .SectionApropos .Container_Apropos .Apropos .Block_Img {
  width: 50%;
  height: 80%;
}
@media screen and (max-width: 1024px) {
  body .SectionApropos .Container_Apropos .Apropos .Block_Img {
    width: 40%;
  }
}
@media screen and (max-width: 769px) {
  body .SectionApropos .Container_Apropos .Apropos .Block_Img {
    width: 70%;
    height: 44%;
  }
}
body .SectionApropos .Container_Apropos .Apropos .Block_Img .Backphoto {
  background-color: #1D73A3;
  width: 100%;
  height: 100%;
}
body .SectionApropos .Container_Apropos .Apropos .Block_Img .Photo_Brendan {
  object-position: top;
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px, rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
body .SectionApropos .Container_Apropos h2 {
  color: black;
  font-size: 55px;
  text-shadow: 1px 1px 2px #555;
}
@media screen and (max-width: 1024px) {
  body .SectionApropos .Container_Apropos h2 {
    font-size: 33px;
  }
}
@media screen and (max-width: 769px) {
  body .SectionApropos .Container_Apropos h2 {
    font-size: 18px;
  }
}
body .SectionContact {
  position: relative;
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
}
body .SectionContact .backgroundimg {
  filter: blur(5px);
  height: 100vh;
  width: 100%;
  transform: scale(2);
}
body .SectionContact .Container_Contact {
  position: absolute;
  width: 90%;
  height: 92.4%;
  top: 27px;
  left: 8.3%;
  overflow: hidden;
  box-shadow: 0px 4px 6px -1px rgba(6, 24, 44, 0.65);
  background-color: rgba(255, 255, 255, 0.9);
  justify-content: center;
  align-items: center;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  body .SectionContact .Container_Contact {
    left: 8.9%;
  }
}
@media screen and (max-width: 769px) {
  body .SectionContact .Container_Contact {
    left: 6%;
  }
}
body .SectionContact .Container_Contact .Contact {
  display: flex;
  gap: 2em;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  body .SectionContact .Container_Contact .Contact {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 769px) {
  body .SectionContact .Container_Contact .Contact {
    justify-content: unset;
  }
}
body .SectionContact .Container_Contact .Contact h2 {
  position: absolute;
  left: 5%;
  color: rgb(0, 0, 0);
  font-size: 28px;
  text-shadow: 1px 1px 2px #555;
  z-index: 10;
}
@media screen and (max-width: 1024px) {
  body .SectionContact .Container_Contact .Contact h2 {
    top: 20px;
    font-size: 27px;
    margin: 0;
  }
}
@media screen and (max-width: 769px) {
  body .SectionContact .Container_Contact .Contact h2 {
    font-size: 18px;
    margin: 0;
  }
}
body .SectionContact .Container_Contact .Contact .Block_Texte {
  width: 55%;
}
@media screen and (max-width: 1024px) {
  body .SectionContact .Container_Contact .Contact .Block_Texte {
    width: 80%;
    margin-top: 7em;
  }
}
@media screen and (max-width: 769px) {
  body .SectionContact .Container_Contact .Contact .Block_Texte {
    width: 80%;
    height: 38%;
    margin-top: 5em;
  }
}
body .SectionContact .Container_Contact .Contact .Block_Img {
  position: relative;
  width: 55%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  body .SectionContact .Container_Contact .Contact .Block_Img {
    width: 100%;
  }
}
@media screen and (max-width: 769px) {
  body .SectionContact .Container_Contact .Contact .Block_Img {
    height: 5%;
  }
}
body .SectionContact .Container_Contact .Contact .Block_Img .Photo_Brendan {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px, rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
@media screen and (max-width: 769px) {
  body .SectionContact .Container_Contact .Contact .Block_Img .Photo_Brendan {
    display: none;
  }
}
body .SectionContact .Container_Contact .Contact .Block_Img .Infos_Contact {
  position: absolute;
  top: 28%;
  left: 2%;
}
@media screen and (max-width: 1024px) {
  body .SectionContact .Container_Contact .Contact .Block_Img .Infos_Contact {
    left: 22%;
  }
}
@media screen and (max-width: 769px) {
  body .SectionContact .Container_Contact .Contact .Block_Img .Infos_Contact {
    top: -9px;
    left: 0%;
  }
}
body .SectionContact .Container_Contact .Contact .Block_Img .Infos_Contact ul {
  padding: 0;
  gap: 1em;
  list-style: none;
}
@media screen and (max-width: 769px) {
  body .SectionContact .Container_Contact .Contact .Block_Img .Infos_Contact ul {
    margin: 0;
  }
}
body .SectionContact .Container_Contact .Contact .Block_Img .Infos_Contact ul li {
  display: flex;
  align-items: center;
  width: 60%;
  gap: 2em;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0px 4px 6px -1px rgba(6, 24, 44, 0.65);
}
@media screen and (max-width: 769px) {
  body .SectionContact .Container_Contact .Contact .Block_Img .Infos_Contact ul li {
    gap: 1em;
  }
}
body .SectionContact .Container_Contact .Contact .Block_Img .Infos_Contact ul li img {
  width: 10%;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 6px -1px rgba(6, 24, 44, 0.65);
  border-radius: 5px;
}
@media screen and (max-width: 769px) {
  body .SectionContact .Container_Contact .Contact .Block_Img .Infos_Contact ul li img {
    padding: 10px;
    width: 5%;
  }
}
body .SectionContact .Container_Contact .Contact .Block_Img .Infos_Contact ul li p {
  margin: 0;
  color: rgb(0, 0, 0);
}
body .SectionContact .Container_Contact .Contact .Block_Img .Infos_Contact ul li .info {
  opacity: 0.6;
  padding-left: 0.3em;
}
@media screen and (max-width: 769px) {
  body .SectionContact .Container_Contact .Contact .Block_Img .Infos_Contact ul li .info {
    padding: 0;
  }
}
body .SectionContact .Container_Contact .Formulaire {
  width: 80%;
}
@media screen and (max-width: 769px) {
  body .SectionContact .Container_Contact .Formulaire {
    height: 100%;
  }
}
body .SectionContact .Container_Contact .Formulaire form {
  width: 100%;
  margin: auto;
}
body .SectionContact .Container_Contact .Formulaire form div {
  width: 100%;
  display: flex;
}
body .SectionContact .Container_Contact .Formulaire form input.Nom,
body .SectionContact .Container_Contact .Formulaire form input.Email,
body .SectionContact .Container_Contact .Formulaire form input.Sujet,
body .SectionContact .Container_Contact .Formulaire form input.Phone {
  margin-bottom: 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 15px;
  margin: 0.3em;
}
body .SectionContact .Container_Contact .Formulaire form input.Nom,
body .SectionContact .Container_Contact .Formulaire form input.Email,
body .SectionContact .Container_Contact .Formulaire form input.Sujet,
body .SectionContact .Container_Contact .Formulaire form input.Phone {
  width: 100%;
}
body .SectionContact .Container_Contact .Formulaire form textarea {
  margin-top: 6px;
  margin-bottom: 16px;
  padding: 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}
@media screen and (max-width: 769px) {
  body .SectionContact .Container_Contact .Formulaire form textarea {
    height: 10%;
  }
}
body .SectionContact .Container_Contact .btn {
  box-shadow: 0px 4px 6px -1px rgba(6, 24, 44, 0.65);
  color: rgb(9, 9, 9);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
body .SectionContact .Container_Contact .btn:hover {
  background-color: #000000;
  color: white;
}
body .animation {
  animation: slideInFromRight 1.5s ease;
}
body .animation-1 {
  animation: slideInFromLeft 1.5s ease;
  animation-fill-mode: forwards;
}
body .background-animation {
  animation: slideInFromRightBack 1.5s ease;
}
body .background-animation_1 {
  animation: slideInFromLeftBack 1.5s ease;
}
@media screen and (max-width: 1024px) {
  body p,
  body a {
    font-size: 12px;
  }
}

.footer-standard {
  bottom: 0px;
  left: 45%;
  position: absolute;
  color: white;
  font-size: 14px;
}
@media screen and (max-width: 769px) {
  .footer-standard {
    left: 25%;
  }
}
.footer-standard p {
  margin: 5px;
}

/*# sourceMappingURL=Index.css.map */
